/* BODY */
body {
    font-family: "Playfair Display", serif;
    background: #c5c5c5;
    color: #464646;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 1.2vw;
    margin-bottom: 5vh;
    text-align: center;
}

ul li {
    margin-bottom: 5px;
}

p {
    font-size: 1.3vw;
}

.highlight {
    color: #171717;
    font-weight: bold;
    font-size: 20px;
}

/* HEADER */
header .up {
    display: flex;
    font-weight: 600;
    margin: 8vh 2vw 6vh 2vw; 
}

.left,
.center,
.right {
    flex: 1;
}

.left p {
    font-size: 1.5vw;
    line-height: 0.9vh;
}

.center {
    text-align: center;
    line-height: 10px;
}

.center img {
    width: 110px;
    margin: 0px auto;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 160px;
    gap: 20px;
    font-size: 2vw;
    text-decoration: none;
}

.right a {
    color: #464646;
    text-decoration: none;
}

.container {
    display: flex;
    background-color: #f5f5f5;  
    border-top: 1px solid #171717;
    border-bottom: 1px solid #171717;
    justify-content: space-between;
    padding: 1.5vh 10vw;
}

.container a {
    display: inline-block;  /* Use inline-block for animation flexibility */
    position: relative;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.4vw;
    z-index: 0;
    color: #464646;
    padding: 5px 24px 5px 0;
    cursor: pointer;
}

.container a:before {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 0;
    height: 100%;
    width: 0;  /* Start with 0 width */
    background-color: #d4c6e6;  /* Background animation color */
    z-index: -1;  /* Place behind the text */
    transition: width 0.3s ease-in-out;  /* Smooth expand animation */
}

.container a:hover:before {
    width: 100%;  /* Expand background width on hover */
}

a {
    text-decoration: none;
    transition: opacity .2s ease-in-out;
}

.whatsapp-button {
    position: fixed;
    bottom: 2vw;
    right: 6vh;
    z-index: 100;
}

/* Floating Buttons */
.floating-icons {
    position: fixed;
    left: 0;
    top: 50%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.floating-button {
    display: block;
    padding: 10px 15px;
    margin-bottom: 5px;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px 0 0 5px;
}

.floating-button.email {
    background-color: #3b5998; /* Facebook-like blue for email */
}

.floating-button.whatsapp {
    background-color: #25D366; /* WhatsApp green */
}

.floating-button.phone {
    background-color: #d32f2f; /* Red for call button */
}

.floating-button:hover {
    opacity: 0.8;
}

/* FOOTER */
.footer {
    background: #f3f3f3;
    padding: 3vh 0 2vh;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section a {
    color: rgb(85, 85, 85)
}

.company-info {
    max-width: 300px;
}

.logo-placeholder {
    width: 60px;
    height: 60px;
    background: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.footer-section h4,
.company-info h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    color: rgb(85, 85, 85)
}

.footer-section ul li {
    margin-bottom: 10px;
    color: rgb(85, 85, 85)
}

.footer-section ul li:before {
    content: "";
    margin-right: 8px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 2vh;
    margin-top: 20px;
}

.footer-bottom p {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    color: #666;
}

.footer-bottom a {
    margin-left: 20px;
    color: #666;
    text-decoration: none;
}

/* INICIO */

.porqueNostros {
    display: flex;
}

.porqueNostros h2 {
    margin-right: 100px;
}

.blog {
    text-indent: 50px;
    padding: 10vh 30vw;
    text-align: justify;
    background-image: url(../images/clinica7.jpg);
    background-size: cover;      /* Scale the image to cover the entire width */
}

.blog p {
    padding: 2vw;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent black background */
    font-size: 1.5vw;
}

/* EQUIPO */
#title {
    padding: 70px 0;
}

#profiles-container {
    display: flex;
    justify-content: center;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    /* Allows items to wrap to the next line if needed */
    justify-content: center;
    /* Spaces out the profiles evenly */
    max-width: 750px;
}

.profile {
    text-align: center;
    flex-basis: calc(33.333% - 20px);/* Subtracts the margin from the flex-basis */
    box-sizing: border-box;
    margin-bottom: 4vh;
    /* Includes padding and border in the element's total width and height */
}

.profile img {
    width: auto;
    /* 100%;  Makes the image responsive to the container size */
    height: 300px;
    /* auto;  Keeps the image's aspect ratio intact */
    border-radius: 5px;
    background-color: #d3d3d3;
    display: block;
    /* Prevents default inline behavior which can cause spacing issues */
    margin: auto;
    /* Centers the image in the flex container */
}

.profile h3 {
    margin-top: 10px;
    font-size: 18px;
}


/* TRATAMIENTOS */
.treatments-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    padding-bottom: 4vh;
}

.treatment {
    min-width: 200px;
    width: 300px;
    /* Adjust width as necessary */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Simple box shadow for styling */
    background: white;
    padding: 10px;
}

.treatment-title {
    color: #333;
    font-size: 22px;
    padding: 10px 0;
    margin: 0;
}

.treatment-description {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.treatment-cta {
    color: rgb(102, 102, 102);
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.treatment-cta:hover {
    text-decoration: underline;
}

/* CONTACTO */
.contacto {
    display: flex;
    align-items: center;
}

.info-section {
    flex: 1;
    padding: 20px 0;
    min-width: 300px;
}

.info-block {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    /* Ensures it fills the width of its parent, .info-section */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 2vh;
}

.info-block h3 {
    color: #333;
    margin-bottom: 15px;
}

.info-block p,
.info-block a {
    display: block;
}

.icon {
    margin-bottom: 10px;
}

.metro,
.bus {
    margin: 10px 0;
}

.metro span,
.bus span {
    background: #eaeaea;
    display: inline-block;
    padding: 2px 8px;
    margin-right: 5px;
    border-radius: 3px;
    color: #333;
    font-weight: bold;
}

.contacto .maps {
    margin-left: 50px;
}