/* BODY */
body {
    font-family: "Playfair Display", serif;
    background: #d1d1d1;
    color: #464646;
    padding: 0;
    margin: 0;
    margin-left: 15vw;
}

p {
    font-size: 1.6vw;
}

/* Header */
#useful {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #464646;
    margin: 0vh 5vw;
    padding: 5vh 0;
    align-items: center;
}

#contact-info ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2vw;
    font-size: 1.4vw;
    font-weight: 900;
}

#contact-info li {
    margin: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #636363;
    color: #ececec;
    padding: 1vh 0vw;
    border: none;
    cursor: pointer;
    font-size: 1vw;
    font-weight: 900;
    width: 6vw;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 6vw;
}

.dropdown-content a {
    color: #696969;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown content when hovering over dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}

#logo-title {
    text-align: center;
    margin-top: 5vh;
}

#logo-title h1 {
    font-size: 2vw;
}

.font-size {
    font-size: 3.2vw;
}

/* Sidebar default styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100%;
    background-color: #333;
    color: white;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 5;
    transition: transform 0.3s ease-in-out;
}

.sidebar img {
    margin: 15px 20px;
}

.sidebar .menu {
    display: block;
}

/* Navigation link styles */
.sidebar a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 1.5vw;
}

.sidebar a:hover {
    background-color: #575757;
}

/* Floating Buttons */
.floating-icons {
    position: fixed;
    right: 0;
    top: 60%;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.floating-button {
    display: block;
    padding: 1vh;
    margin-bottom: 5px;
    text-align: center;
    color: #fff;
    font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px 0 0 5px;
}

.floating-icons a img {
    width: 1.5vw;
}

.floating-button.email {
    background-color: #3b5998;
    /* Facebook-like blue for email */
}

.floating-button.whatsapp {
    background-color: #25D366;
    /* WhatsApp green */
}

.floating-button.phone {
    background-color: #e15c5c;
    /* Red for call button */
}

.floating-button:hover {
    opacity: 0.8;
}

#mobile-navigation {
    display: none;
}

#image-button-mobile {
    display: none;
}

/* FOOTER */
.footer {
    background: #f7f7f7;
    color: #48423a;
    padding: 2vh 5vw;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 2vh 0;
}

.footer-section {
    font-size: 1.3vw;
}

.footer-section a {
    color: #696969;
    text-decoration: none;
}

.company-info {
    max-width: 170px;
    min-width: 24vw;
    text-align: center;
}

.company-info div {
    display: flex;
    justify-content: center;
}

.company-info div img {
    width: 6vw;
}

.logo-placeholder {
    width: 60px;
    height: 60px;
    background: #e0e0e0;
    margin-bottom: 10px;
}

.footer-section h4,
.company-info h3 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 2.2vw;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 13px;
    color: #696969;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 2vh;
    margin-top: 20px;
}

.footer-bottom p {
    display: inline-block;
    margin: 0;
    font-size: 0.9vw;
    color: #707070;
}

.footer-bottom a {
    margin-left: 20px;
    color: #666;
    text-decoration: none;
}

#maps-link {
    color: purple;
    text-decoration: underline;
}

/* INICIO */

#blog-text {
    position: relative;
    /* Position context for pseudo-element */
    background-image: url(../images/installations/image2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: justify;
    padding: 20vh 20vw;
    color: #fff;
    /* Change text color to white */
    font-weight: 700;
    /* Increase font weight for better readability */
}

/* Add a semi-transparent overlay */
#blog-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.678);
    /* Dark overlay with 50% opacity */
    z-index: 0;
    /* Position behind the text */
}

#blog-text p {
    background-color: rgba(255, 255, 255, 0.774);
    /* Dark background with 60% opacity */
    padding: 5vw;
    position: relative;
    z-index: 1;
    /* Position text above overlay */
    padding: 4vh;
    /* Add padding around paragraphs */
    color: #333;
}


/* EQUIPO */

#team-photo {
    padding: 0 10vw;
    display: flex;
    margin-top: 5vh;
    align-items: center;
    justify-content: center; 
}

#team-photo img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

#team-title {
    text-align: center;
    font-size: 1.5vw;
    font-weight: 900;
    margin: 12vh 0;
}

#profiles-container {
    display: flex;
    margin: 10vh 10vw;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile {
    flex-basis: calc(33.333%);
    box-sizing: border-box;
    margin-bottom: 4vh;
}

.profile img {
    width: 20vw;
    height: 50vh;
    border-radius: 5px;
    background-color: #d3d3d3;
    display: block;
    object-fit: cover;
    object-position: center;
}

.profile h3 {
    margin-top: 4vh;
    margin-bottom: 1.5vh;
    font-size: 1.3vw;
}

.profile p {
    color: #6b6b6b;
    margin: 0;
}


/* TRATAMIENTOS */

.treatments-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10vh 8vw;
    gap: 1vw;
}

.treatment {
    min-width: 5vw;
    max-width: 30vw;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: rgb(255 255 255);
    padding: 1vw;
}

.treatment-header {
    display: flex;
    align-items:center
}

.treatment-header img {
    height: 6vh;
}

.treatment-title {
    color: #333;
    font-size: 2.2vw;
    padding: 10px 0;
    margin: 0;
    margin-left: 2vw;
}

.treatment-description {
    color: #666;
    margin-bottom: 20px;
    text-align: left;
}

/* INSTALACIONES */


/* Standardize slide sizes */
.slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 0 50px;
    box-sizing: border-box;
}

.slider-container {
    overflow: hidden;
    width: 62vw;
    max-width: 100%;
    margin: 10vh auto;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 2vw;
}

.slide {
    flex: 0 0 30vw;
    height: 80vh;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.nav-button {
    font-size: 1.2vw;
    margin-top: 1vh;
    padding: 0.5vw;
}


/* CONTACTO */

.info-section {
    display: flex;
    padding: 0 10vw;
    gap: 1vw
}

.info-block {
    background-color: #e9e9e9e1;
    padding: 1.5vw;
    width: 100%;
    margin-top: 5vh;
}

.info-block h3 {
    color: #333;
    font-size: 1.6vw;
}

.parking {
    margin-bottom: 0.7vh;
}

.direction {
    font-size: 1.5vw;
    margin: 0;
    margin-bottom: 2.5vh;
}

.metro span,
.bus span {
    font-size: 1.3vw;
    background: #eaeaea;
    display: inline-block;
    padding: 2px 8px;
    margin-right: 5px;
    border-radius: 3px;
    color: #333;
    font-weight: bold;
}

.maps {
    display: flex;
    justify-content: center;
    margin: 10vh 10vw;
}

/* MEDIA QUERIES */

@media (max-width: 1100px) {

    body {
        margin: 0;
    }

    p {
        font-size: 2vh;
    }

    /* HEADER */

    #useful {
        padding-top: 1.5vh;
    }

    #contact-info ul {
        flex-direction: column;
    }

    #contact-info ul li {
        font-size: 2vh;
    }

    .dropdown-button {
        font-size: 1.5vh;
        width: 20vw;
        line-height: 3vh;
    }

    .dropdown-content {
        width: 20vw;
        font-size: 1.7vh;
    }

    #logo-title h1 {
        font-size: 3vh;
    }

    .font-size {
        font-size: 3.5vh;
    }

    .floating-button {
        font-size: 2.5vh;
        margin-top: 2vh;
    }

    .floating-icons a img {
        width: 2vh;
    }

    #image-button-mobile {
        display: flex;
        justify-content: space-between;
        padding: 2vh 5vw 2vh 5vw;
    }

    #image-button-mobile button {
        padding: 1vh;
        width: 20vw;
        font-size: 1.5vh;
    }

    #mobile-navigation ul {
        list-style: none;
        font-size: 2vh;
    }

    #mobile-navigation ul li {
        padding: 1vh 0vw;
        border-bottom: 3px solid #8787874b;
    }

    #mobile-navigation ul li a {
        text-decoration: none;
        color: #464646;
    }

    #mobile-navigation {
        display: none;
        /* Ensure the menu is hidden by default */
    }

    /* FOOTER */

    .footer-container {
        display: block;
    }

    .footer-section {
        align-items: flex-start;
    }

    .footer-section h2 {
        font-size: 3.5vh;
        text-align: left;
    }

    .footer-section p {
        font-size: 2.5vh;
        text-align: left;
    }

    .footer-section h4 {
        font-size: 3vh;
        margin-bottom: 2vh;
    }

    .footer-section li {
        font-size: 2vh;
    }

    .nav-footer {
        display: none;
    }

    .company-info {
        max-width: none;
    }

    .company-info div {
        justify-content: flex-start;
    }

    .company-info div img {
        width: 7vh;
    }

    .footer-bottom p {
        font-size: 2vh;
    }

    /* INICIO */

    #blog-text {
        padding: 10vh 10vw;
    }


    .sidebar {
        display: none;
    }

    /* EQUIPO */

    #team-photo {
        margin-top: 7vh;
    }

    #team-photo img {
        width: 80vw;
    }

    #team-title {
        margin: 5vh;
        font-size: 2.4vh;
    }

    #profiles-container {
        padding-top: 0vh;
        margin-top: 0vh;
    }

    .profile {
        display:flex;
        gap: 4vw;
    }

    .profile-info {
        width: 40vw;
    }
    
    .profile img {
        width: 40vw;
        height: 30vh;
    }

    .profile h3 {
        font-size: 2.2vh;
        min-height: auto;
        margin-top: 1vh;
    }

    /* TRATAMIENTOS */

    .treatments-container {
        flex-direction: column;
    }

    .treatment {
        max-width: none;
        padding: 30px;
    }

    .treatment-icon img {
        height: 8vh;
    }

    .treatment-title {
        font-size: 2.2vh;
    }

    /* INSTALACIONES */

    .slider-wrapper {
        min-height: 40vh;
    }

    .nav-button {
        font-size: 1.5vh;
        margin-right: 5vw;
    }

    /* INSTALACIONES */

    .slider-container {
        width: 100%; /* Full width for mobile screens */
        overflow: hidden; /* Ensure only one image is visible */
        margin-top: 5vh;
    }

    .slider {
        flex-wrap: nowrap; /* Prevent wrapping of slides */
        gap: 4vw; /* No gap between slides */
    }

    .slide {
        height: 50vh;
        flex: 0 0 100%; /* Each slide takes full width */
        max-width: 100%; /* Prevent exceeding container width */
    }

    .nav-button {
        font-size: 2vh; /* Adjust button size for smaller screens */
    }

    /* CONTACTO */

    .info-section {
        flex-direction: column;
    }

    .info-block {
        margin-top: 1vh;
    }

    .info-block h3 {
        font-size: 2.2vh;
    }

    .direction {
        font-size: 2vh;
    }

    .info-block p span {
        font-size: 4vw;
    }


}