/* GENERALS*/

div {
    margin: 0;
}

/* HEADER */
header .up {
    display: flex;
    font-weight: 600;
    padding-left: 1vw;
    padding-top: 4vh;
    margin-bottom: 4vh;
}

.left,
.center,
.right {
    flex: 1;
}

.left p {
    font-size: 25px;
    align-items: center;
    min-width: 355px;
}

.center {
    text-align: center;
    line-height: 0px;
}

.center img {
    width: 110px;
    margin: 0px auto;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right .languages {
    margin-right: 40px;
    height: 50px;
}

.right .social-links {
    line-height: 0px;
    min-width: 160px;
    justify-content: flex-end;
}

div.container {
    display: flex;
    background-color: #ccc;
}

div.container a {
    flex: 1;
    text-align: center;
    font-size: 25PX;
    color: #333;
    text-decoration: none;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-weight: 600;
}

div.topBotomBordersIn a:before,
div.topBotomBordersIn a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #333;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersIn a:before {
    top: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersIn a:after {
    bottom: 0px;
    transform: translateY(10px);
}

div.topBotomBordersIn a:hover:before,
div.topBotomBordersIn a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}



/* FOOTER */
footer {
    background: rgb(68, 68, 68);
    color: #d8d8d8;
    font-family: Arial, sans-serif;
    font-size: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-section h4 {
    color: #e7e7e7;
}

.footer-section p {
    color: #ccc;
    line-height: 1.5;
    font-size: 22px;
}



/* BODY */
body {
    font-family: "Playfair Display", serif;
    background: #eaeaea;
    color: #464646;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 5px;
}

p {
    font-size: large;
}

.highlight {
    color: #171717;
    font-weight: bold;
    font-size: 20px;
}

/* INICIO */

.porqueNostros {
    display: flex;
}

.porqueNostros h2 {
    font-size: 40px !important;
    margin-right: 100px;
}

.blog {
    text-indent: 50px;
    padding: 100px 500px;
    text-align: justify;
    background-image: url(./images/1725557508332.jpg);
}

/* EQUIPO */
#title {
    margin: 70px 0;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    /* Allows items to wrap to the next line if needed */
    justify-content: space-between;
    /* Spaces out the profiles evenly */
    margin: 0 300PX;
}

.profile {
    text-align: center;
    flex-basis: calc(33.333% - 20px);
    /* Subtracts the margin from the flex-basis */
    margin: 10px;
    /* Adjust margin as needed for spacing between profiles */
    box-sizing: border-box;
    /* Includes padding and border in the element's total width and height */
}

.profile img {
    width: auto;
    /* 100%;  Makes the image responsive to the container size */
    height: 300px;
    /* auto;  Keeps the image's aspect ratio intact */
    border-radius: 5px;
    background-color: #d3d3d3;
    display: block;
    /* Prevents default inline behavior which can cause spacing issues */
    margin: auto;
    /* Centers the image in the flex container */
}

.profile h3 {
    margin-top: 10px;
    font-size: 18px;
}


/* TRATAMIENTOS */
.treatments-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    margin-bottom: 4vh;
}

.treatment {
    min-width: 200px;
    width: 300px;
    /* Adjust width as necessary */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Simple box shadow for styling */
    background: white;
    padding: 10px;
}

.treatment-title {
    color: #333;
    font-size: 22px;
    margin: 10px 0;
}

.treatment-description {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.treatment-cta {
    color: rgb(102, 102, 102);
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.treatment-cta:hover {
    text-decoration: underline;
}

/* CONTACTO */
.contacto {
    display: flex;
    align-items: center;
}

.info-section {
    flex: 1;
    padding: 20px 0;
    min-width: 300px;
}

.info-block {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    /* Ensures it fills the width of its parent, .info-section */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 2vh;
}

.info-block h3 {
    color: #333;
    margin-bottom: 15px;
}

.info-block p,
.info-block a {
    display: block;
}

.icon {
    margin-bottom: 10px;
}

.metro,
.bus {
    margin: 10px 0;
}

.metro span,
.bus span {
    background: #eaeaea;
    display: inline-block;
    padding: 2px 8px;
    margin-right: 5px;
    border-radius: 3px;
    color: #333;
    font-weight: bold;
}

.contacto .maps {
    margin-left: 50px;
}