/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #bdbdbd;
    color: white;
}

.logo-name {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

.logo img {
    width: 70px;
}

.navigation {
    display: flex;
    list-style: none;
    text-decoration: none;  /* Optional: removes underline from links */
    font-size: 25px; /* Change the font size as needed */
}
.navigation a:hover, .navigation a:active {
    color: #0056b3;  /* Different color for hover and active states */
    text-decoration: none;  /* Optional: removes underline from links */
}

.navigation a:visited {
    color: inherit;  /* Forces visited links to inherit the specified color */
}
.navigation li {
    margin-right: 100px; /* Spacing between nav items */

}

.navigation li:last-child {
    margin-right: 120px;
}

.social-links {
    display: flex;
}

.social-links a {
    margin-left: 10px;
}

.social-links img {
    width: 50px;  /* Set the width of the icons */
    height: 50px; /* Set the height of the icons */

}



/* FOOTER */
footer {
background: #444444;
color: #fff;
padding: 20px 0;
font-family: Arial, sans-serif;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
}
.footer-section {
    margin: 0 20px;
}
.footer-section h4 {
    color: #f8f8f8;
    margin-bottom: 15px;
}
.footer-section p {
    color: #ccc;
    margin-bottom: 5px;
    line-height: 1.5;
}



/* BODY */
body {
    font-family: 'Calibri', 'Arial', sans-serif;
    padding: 20px;
    background: #bdbdbd;
    color: white;
    margin: 0 20px;

}
div {
    margin-bottom: 15px;
}
h1 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}
h2 {
    font-size: 20px;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul li {
    margin-bottom: 5px;
}
.blog {
    margin: 0 200px;
}
p {
    font-size: large;
}
.highlight {
    color: rgb(52, 123, 182);
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

/* EQUIPO */
.profile-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
    justify-content: space-between; /* Spaces out the profiles evenly */
    margin: 0 550PX;
}

.profile {
    text-align: center;
    flex-basis: calc(33.333% - 20px); /* Subtracts the margin from the flex-basis */
    margin: 10px; /* Adjust margin as needed for spacing between profiles */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.profile img {
    width: 200px; /* 100%;  Makes the image responsive to the container size */
    height: 300px; /* auto;  Keeps the image's aspect ratio intact */
    border-radius: 5px;
    background-color: #667;
    display: block; /* Prevents default inline behavior which can cause spacing issues */
    margin: auto; /* Centers the image in the flex container */
}

.profile h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}


/* TRATAMIENTOS */
.treatments-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}
.treatment {
    width: 300px; /* Adjust width as necessary */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Simple box shadow for styling */
    background: white;
    padding: 10px;
}
/* .treatment-icon {
    Placeholder for actual icon styles 
}*/
.treatment-title {
    color: #333;
    font-size: 22px;
    margin: 10px 0;
}
.treatment-description {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}
.treatment-cta {
    color: rgb(102, 102, 102);
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}
.treatment-cta:hover {
    text-decoration: underline;
}

/* CONTACTO */
.info-section {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    color: black;
}
.info-block {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 30%; /* Adjust width as necessary */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Simple box shadow for styling */
    text-align: center;
}
.info-block h3 {
    color: #333; /* Adjust color as needed */
    margin-bottom: 15px;
}
.info-block p, .info-block a {
    display: block;
}
.icon {
    margin-bottom: 10px;
}
.metro, .bus {
    margin: 10px 0;
}
.metro span, .bus span {
    background: #eaeaea; /* Dummy background color for the metro/bus labels */
    display: inline-block;
    padding: 2px 8px;
    margin-right: 5px;
    border-radius: 3px;
    color: #333;
    font-weight: bold;
}

